<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @bilge.id %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @bilge.duration %>
</p>

<%= link_to 'Edit', edit_bilge_path(@bilge) %> |
<%= link_to 'Back', bilges_path %>
