<p id="notice"><%= notice %></p>

<h1>Heartbeats</h1>

<table>
  <thead>
    <tr>
      <th>Sensor</th>
      <th>Voltage</th>
      <th>Temp</th>
      <th>Humid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heartbeats.each do |heartbeat| %>
      <tr>
        <td><%= heartbeat.probe %></td>
        <td><%= heartbeat.voltage %></td>
        <td><%= heartbeat.temp %></td>
        <td><%= heartbeat.humid %></td>
        <td><%= link_to 'Show', heartbeat %></td>
        <td><%= link_to 'Edit', edit_heartbeat_path(heartbeat) %></td>
        <td><%= link_to 'Destroy', heartbeat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Heartbeat', new_heartbeat_path %>
