<%= form_with(model: probe, local: true) do |form| %>
  <% if probe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(probe.errors.count, "error") %> prohibited this probe from being saved:</h2>

      <ul>
      <% probe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :secret %>
    <%= @probe.secret %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :hmac %>
    <%= form.check_box :hmac %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>
