<!DOCTYPE html>
<html>
  <head>
    <title>Whitewolf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag "var do_geo_location = false; var local_device = #{local?}" %>
  </head>

  <body>
    <%= render "layouts/nav" %>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "alert alert-dark alert-dismissible fade show", role: "alert" %>
    <% end -%>
    <%= yield %>
  </body>
</html>
